<h1>Sobre mi</h1>
<div class='row'>
    <div class='col-md-7'>
        <%= image_tag "profile.JPG", width: 500, alt: 'Foto de perfil', gravity: 'faces' %>
    </div>
    <div class='col-md-5'>
        <p><br> Soy estudiante de tercer año de Ingenieria en Computación, 
        con interés en el area del desarrollo de aplicaciones web.<br><br> 
        Veo a la computacion como una gran herramienta que permite la comunicacion y educacion
        de manera global.<br><br> 
        Me identifico como alguien altamente motivado y movido por lo que le apasiona.
        Me gusta disfrutar mi tiempo estando en la naturaleza, haciendo actividad fisica y con buena musica de fondo.
        </p>
    </div>
</div>
