<div>
    <main role="main" class="inner cover">
    <h1 class="cover-heading">Bienvenid@!</h1>
    <p class="lead"></p>
    <p class="lead">
        <%= link_to "Conoce un poco sobre mi", about_path, class: "btn btn-lg btn-secondary" %>
    </p>
    </main>
</div>